#sidebar {
    float: left;
    width: 95px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
}

#sidebar li:first-child {
    padding-top: 130px;
}

#sidebar li {
    float: left;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

#sidebar li img {
    margin: 0 auto;
    width: 30px;
    float: none;
    padding-bottom: 10px;
}

#sidebar li a {
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
}

#sidebar:hover {
    background-color: #181818;
}

header {
    display: flex;
    position: fixed;
    height: 175px;
    overflow: visible !important;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
    align-items: center;
}

.logo {
    width: 85px;
    height: 140px;
    position: absolute;
    top: 37px;
    left: 6.7%;
    background-image: url(../../../../img/logo9.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

nav {
    margin: 0 auto;
    display: inline-block;
    height: auto;
    padding-top: 25px;
}

nav ul li {
    float: left;
    display: inline-flex;
    height: 18px;
    flex-direction: column;
    padding: 0 32px;
}

nav ul li:first-child {
    padding-left: 0;
}

nav ul li:last-child {
    padding-right: 0;
}

.in_navs {
    float: left;
    width: 130px;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 8px solid #e3aa0c;
    box-sizing: border-box;
    position: relative;
    top: 20px;
    z-index: 1000;
    visibility: hidden;
}

.in_navs li {
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 0;
}

.in_navs li a {
    font-size: 15px;
    color: #4b4b4b;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -0.7px;
}

.btnss {
    display: none;
}

.show,
nav ul li a {
    float: left;
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 400;
    color: #ded3c0;
    line-height: 18px;
    cursor: pointer;
}

input[id="btns1"]:checked + label + ul,
input[id="btns2"]:checked + label + ul,
input[id="btns3"]:checked + label + ul,
input[id="btns4"]:checked + label + ul,
input[id="btns5"]:checked + label + ul {
    visibility: visible;
}

/*--모바일--*/

.m_btn {
    display: none;
}

.m_navi {
    display: none;
}

@media all and (max-width:1000px) {
    .m_btn {
        display: block;
        width: 30px;
        height: auto;
        position: absolute;
        top: 75px;
        right: 40px;
        cursor: pointer;
    }

    .m_btn li {
        float: left;
        width: 100%;
        height: 4px;
        margin-bottom: 7px;
        background: #fff;
        border-radius: 5px;
    }

    .m_navi {
        display: block;
        width: 50%;
        min-height: 100vh;
        height: 100%;
        background: #fff;
        position: fixed;
        overflow-y: scroll;
        top: 0;
        right: -100%;
        z-index: 1000;
    }

    .close {
        float: right;
        margin: 28px 30px 0 0;
    }

    .m_nav {
        float: left;
        width: 100%;
        overflow: hidden;
        margin-top: 110px;
    }

    .m_nav li {
        float: left;
        width: 100%;
        height: auto;
        text-align: left;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
    }

    .m_nav li {
        padding: 20px 0;
        font-size: 18px;
        text-indent: 20px;
    }


    .m_nav_logo {
        position: absolute;
        top: 25px;
        left: 50%;
        width: 80px;
        margin-left: -40px;
    }

    .m_sub_menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 18px;
        color: #333;
        display: none;
    }

    .m_sub_menu li {
        font-size: 16px;
    }

    .m_sub_menu li:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .shows + a,
    .m_sub_menu,
    .m_btnss {
        display: none;
    }

    [id^=btn]:checked + .m_sub_menu {
        display: flex;
        border-top: 1px solid #888;
        box-sizing: border-box;
        margin-top: 20px;
    }

    .shows {
        cursor: pointer;
        display: block;
        width: 100%;
        font-weight: 500;
        font-size: 20px;
    }

    .m_sub_menu li a {
        display: block;
        width: 100%;
    }

}

@media all and (max-width:600px) {
    .m_navi {
        width: 100%;
    }
}
