* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    float: left;
}

a {
    text-decoration: none;
    color: #333333;
}

#wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}

header,
section,
footer {
    float: left;
    width: 100%;
    overflow: hidden;
}

.in_wrap {
    margin: 0 auto;
    overflow: hidden;
}

body{
    font-size: 16px;
}