.section_header{
 background-image:url(../img/header/3.jpg) !important;
}

.in_wrap {
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-bottom: 90px;
    height: auto;
    overflow: visible;
}

.s_box {
    float: left;
    width: 350px;
    height: 350px;
    position: relative;
    margin-right: 30px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.s_box img{
    width: 100%;
}

.s_box >.cover{
    opacity: 0.3;
}

.s_in{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 0;
    z-index: 100;
}

.s_in a{
    display: block;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.s_in img {
    width: 100px;
    margin: 0 auto;
    float: none;
    display: none;
    padding-bottom: 60px;
}

.s_box:last-child {
    margin-right: 0;
}

.s_box:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#cover1,
#cover2 {
    background-color: #3c3c3c;
}

.s_box:hover #cover1 {
    background-color: #db5454;
    opacity: 1;
}

.s_box:hover #cover2 {
    background-color: #2f2f2f;
    opacity: 1;
}

.s_box:hover .s_in img {
    display: block;
}

@media all and (max-width:1600px){
    .in_wrap{
        width: 85%;
    }
}

@media all and (max-width:900px){
    .in_wrap{
        flex-direction: column;
        align-items: center;
    }
    
    .s_box{
        margin-right: 0;
        margin-bottom: 50px;
    }
    
    .s_box:last-child{
        margin-bottom: 0;
    }
}
}